.preview {
  flex: 1;
  padding: 16px;
  padding-left: 0;
  border-left: 1px solid #eee;
  background: #fafafa;
  font-family: sans-serif;
  overflow-y: auto;

  .error {
    color: crimson;
  }
}
