@margin-left: 20px;

.__item__ {
  position: relative;
  margin-left: @margin-left;

  &::before {
    content: '';
    width: 0;
    height: 100%;
    display: block;
    position: absolute;
    border-left: 1px dashed #cccccc;
  }

  // 收起、展开图标
  .__operate__ {
    display: inline-flex;
    align-items: center;

    &.fold {
      display: none;
    }

    .icon {
      line-height: 1;
      padding: 0 2px;
      margin-right: 4px;
      vertical-align: middle;

      &:hover {
        background: #e7e7e7;
      }
    }
  }

  // key
  .__key__ {
    margin-right: 2px;
    margin-left: @margin-left;
    color: #9c27b0;

    &::before,
    &::after {
      content: '"';
      // color: initial;
      color: #999;
    }
  }

  .__value__ {
    color: #666;
  }

  // 括号
  .__brackets1__,
  .__brackets2__,
  .__operate__.fold {
    color: #9e9e9e;
  }

  // 类型
  .number {
    color: #9c27b0;
  }

  .boolean {
    color: #076ec0;
  }

  .string {
    padding: 0 2px;
    color: #e91e63;

    &::before,
    &::after {
      content: '"';
      // color: initial;
      color: #999;
    }
  }
}

.__block__ {
  display: block;
  position: relative;
  line-height: 1.4;

  > .__brackets1__ {
    padding-left: 20px;
  }

  // 括号
  .__brackets1__,
  .__brackets2__,
  .__operate__.fold {
    color: #9e9e9e;
  }
}
